@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
* {
    font-family: "Poppins";
}
.bookingillus {
    background-position: no-repeat;
    width: 100%;
}
.head_container {
    padding: 30px 30px 0px 30px;
}
.left_items {
    margin-top: 100px;
    word-spacing: 10px;
    line-height: 2rem;
}
.left_items h1 {
    font-size: 60px;
}
.about {
    background-color: #2650d8;
    height: 200px;
}
.about p {
    padding: 40px;
    line-height: 2rem;
}

.item {
    width: 150px;
    height:150px;
    border-radius: 20px;
    padding: 20px;
    background-color: whitesmoke;
}
.item i{
    display:flex;
    justify-content: center;
    margin-top: 40px;
    font-size: 30px;
}